html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "JosefinSans";
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans";
  font-style: italic;
  src: url("/fonts/JosefinSans-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("/fonts/YesevaOne-Regular.ttf") format("truetype");
}

/*
$cream: #fffed0;
$khaki: #a4967f;
$seal-brown: #4b2812;
$bistre: #251a03;
$dark-moss-green: #5d5a0b;
*/

#site-wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: hsl(41, 12%, 8%);
}

main {
  color: hsl(59, 100%, 96%);
  font-family: "JosefinSans";
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 36px;
}

a {
  color: hsl(58, 79%, 85%);
}

header {
  padding: 12px 0px 24px;
  text-align: center;
}

h1, h2 {
  color: hsl(58, 79%, 85%);
  font-family: "YesevaOne";
  font-size: 2.5rem;
  line-height: 4rem;
}

article {
  margin: 24px 0px;
}

ul {
  padding-left: 24px;
  list-style-type: square;
}

input {
  border: none;
  outline: none;
}

#email {
  height: 24px;
  margin: 12px 0px;
  padding: 8px;
  background: hsl(37, 17%, 57%);
}

#submit {
  height: 40px;
  padding: 8px;
  background: hsl(58, 79%, 80%);
  border-radius: 3px;
  cursor: pointer;
}

@media all and (min-width: 701px) {
  header {
    text-align: left;
  }
}
